main {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background-color);
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border: 1px solid var(--twitter-background-color);
    padding: 15px 20px;

}

main::-webkit-scrollbar {
    display: none;

}

.header h2 {
    font-weight: bold;
    font-size: 20px;
}

.tweet_box_input img {
    border-radius: 50%;
    height: 40px;


}

.tweet_box {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background-color);
    padding-right: 10px;

    form {
        display: flex;
        flex-direction: column;
    }
    .tweet_box_input {
        display: flex;
        padding: 20px;
    
    }
}


.tweet_box_input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweet_box_input button {
    background-color: var(--twitter-theme-color);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.post_profile_image img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: contain;

}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background-color);
    padding-bottom: 10px;
}

.post_body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;

}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}

.post_badge {
    font-size: 14px !important;
    color: var(--twitter-theme-color);
    margin-right: 5px;

}

.header_icon_section {
    font-weight: 600;
    font-size: 12px;
    color: grey;
}

.post_header_text h3 {
    font-size: 13px;
    margin-bottom: 5px;

}

.post_header_description {
    margin-bottom: 10px;
    font-size: 15px;
}

.post_body {
    flex: 1;
    padding: 10px;
}

.post_profile_image {
    padding: 20px;
}