.nav_logo {
    width: 30px;
    height: 30px;
    color: var(--twitter-theme-color);
    fill: currentColor;

}
.nav {
    // flex: 0.2;
    border-right: 1px solid var(--twitter-background-color);
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.Menu_options {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Menu_options .material_icons {
    padding: 20px;
}

.Menu_options h2 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.Menu_options:hover {
    background-color: var(--twitter-background-color);
    border-radius: 30px;
    color: var(--twitter-theme-color);
}

.tweet_btn {
    width: 100%;
    background-color: var(--twitter-theme-color);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    height: 50px;
}